#### 1. Import the numpy package under the name np

In [52]:
import numpy as np

#### 2. Create numpy array

In [53]:
arr = np.array([1,2,3,4])
arr

array([1, 2, 3, 4])

#### 3. Create nested list of numpy array

In [54]:
nest_arr = np.array([[1.1,2,3],[4,5,6]])
nest_arr

array([[ 1.1,  2. ,  3. ],
       [ 4. ,  5. ,  6. ]])

#### 4. Check the dimension of arr and nest_arr

In [55]:
arr.shape

(4,)

In [56]:
nest_arr.shape

(2, 3)

#### 5. Check the type of elements in arr and nest_arr

In [57]:
arr.dtype

dtype('int64')

In [58]:
nest_arr.dtype

dtype('float64')

#### 6. Check the number of rows present in arr and nest_arr

In [59]:
arr.ndim

1

In [60]:
nest_arr.ndim

2

#### 7. Create a list of 100 elements in the range(0,100)

In [61]:
l = np.arange(100)
l

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

#### 8. Create a list of elements in the range(0,100) with a step of 2 i.e [0,  2,  4,  6,  8, 10, ..., 98]

In [62]:
l = np.arange(0,100,2)
l

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32,
       34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66,
       68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98])

#### 9. Create a null vector of size 10

In [63]:
null_vector = np.zeros(10)
null_vector

array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.])

#### 10. Create a vector of size 10 having all values 1

In [64]:
one_vector = np.ones(10)
one_vector

array([ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

#### 11. Create an identity matrix of size 4

In [65]:
identity_matrix = np.identity(4)
identity_matrix

array([[ 1.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.],
       [ 0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  1.]])

In [66]:
identity_matrix = np.eye(4,3)
identity_matrix

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.],
       [ 0.,  0.,  0.]])

#### 12. Difference between identity and eye: 
Using identity function, only square matrix can be created with diagonal as 1, whereas eye function will create an identity matrix of any size.

#### 13. Create a 2 by 3 matrix having all elements equal to 5.

In [67]:
all_five = np.full((2,3),5)
all_five

array([[5, 5, 5],
       [5, 5, 5]])

#### 14. Create a 3 by 3 matrix having all diagonal elements 10.

In [68]:
diagonal = np.diag([10,10,10])
diagonal

array([[10,  0,  0],
       [ 0, 10,  0],
       [ 0,  0, 10]])

#### 15. Stack the data in point 2 and make 3 layers i.e, [[1,2,3,4],[1,2,3,4],[1,2,3,4]].

In [69]:
stack = np.tile(arr,(3,1))
stack

array([[1, 2, 3, 4],
       [1, 2, 3, 4],
       [1, 2, 3, 4]])

#### 16. Find a random value between 0 and 1.

In [70]:
value = np.random.random()
value

0.8523747226482511

#### 17. Find a random value between 2 to 50.

In [71]:
value = np.random.random()*48 + 2
# this will multiply lower limit and upper limit with 48 i.e 0*48 and 1*48 [0,48] and
#then add 2 to lower limit and upper limit i.e, 0+2, 48+2 [2,50]
value

31.154142873655793

#### 18. Create a 3*3 matrix of random values.

In [72]:
mat = np.random.random([3,3])
mat

array([[ 0.96465917,  0.43715853,  0.28369095],
       [ 0.49551062,  0.86313941,  0.83233501],
       [ 0.22708171,  0.16000468,  0.15561477]])